@font-face
{
   font-family: "simpsontitulo";
   src: url("simpsonfont.otf");
}

@font-face
{
   font-family: "akbar";
   src: url("akbar.ttf");
}


body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/772/718/465/clouds-the-simpsons-figure-background-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    
  }

  #T_texto {
    font-family:"akbar";
    font-size:100%;
  }

  #T_Titulo {
    font-family:"simpsontitulo";
    font-size:150%;
  }


  
  #box1{
    display:flex;
    margin-left: 50px;
    margin-right: 50px;
  }