@font-face
{
   font-family: "simpsontitulo";
   src: url("simpsonfont.otf");
}

@font-face
{
   font-family: "akbar";
   src: url("akbar.ttf");
}


body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/772/718/465/clouds-the-simpsons-figure-background-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    
  }

  #T_texto {
    font-family:"akbar";
    font-size:100%;
  }
  h1{
    font-family:"akbar";
    font-size:300%;
  }
  #T_Titulo {
    font-family:"simpsontitulo";
    font-size:150%;
  }

  #box1{
    display:flex;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(240, 248, 255, 0.37);
  }

  #box2{
    display:flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(240, 248, 255, 0.37);
  }

  #tabla{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }
  #box3{
    display:flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(240, 248, 255, 0.37);
  }