body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/772/718/465/clouds-the-simpsons-figure-background-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
  }