canvas {
    background-color: rgba(255, 207, 74, 0.555);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  }

  body{
    background-color: rgba(255, 207, 74, 0.241);
    background-size: cover;
    display: inline-flexbox;
    text-align:center;
  }